extends layout

block content
  div.hero-unit
    div.page-header
      h1 Gabe Conradi
        small(style='margin-left:15px;') Linux. Cars. Music. Tech.
      p.lead
        i Ag-gran-dize
        |: verb, transitive. To write stuff in your tagline that makes you seem smarter than your average jabroni.
      a.btn.btn-large.btn-primary(href='#info-block') Check me out


  div#info-block
    div.row
      div.span.marketing
        h3 Hey I am gabe
        p.
          This is a blurb about what I do


    div.row
      //div.span2.offset2
      div.span4
        div.media
          a(href="https://github.com/byxorna")
            img.pull-left.media-object.logo(src='/images/github-logo-transparent.png')
            div.media-body
              h3.media-heading byxorna
      //div.span2.offset1
      div.span4
        div.media
          a(href="https://twitter.com/byxorna")
            img.pull-left.media-object.logo(src='/images/twitter-bird-light-bgs.png')
            div.media-body
              h3.media-heading @byxorna
      //div.span2.offset1
      div.span4
        div.media
          a(href="https://youtube.com/byxornism")
            img.pull-left.media-object.logo(src='/images/YouTube_logo_stacked_white.png')
            div.media-body
              h3.media-heading Byxornism's Channel
      //div.span2.offset1

    div.row
      div.span4
        h3 Resume
        div.logo.resume
        a(href="/resume") View my resume
      div.span4
        div.media
          a(href="https://plus.google.com/109783898219372090528")
            img.pull-left.media-object.logo(src='/images/plus-badge.png')
            div.media-body
              h3.media-heading +Gabe Conradi
      div.span4
        div.media
          a(href="https://facebook.com/gabe.conradi")
            img.pull-left.media-object.logo(src='/images/f_logo.png')
            div.media-body
              h3.media-heading Gabe Conradi
    
