extends layout

block content
  div.hero-unit
    div.page-header
      h1 Gabe Conradi
        small(style='margin-left:15px;') Linux. Cars. Music. Tech.
  div.row
    div.span2.offset2
      h3 Github
      div.logo.github
      a(href="https://github.com/byxorna") byxorna
    div.span2.offset1
      h3
        img(src='/images/twitter-bird-light-bgs.png')
        span Twitter
      a(href="https://twitter.com/byxorna") @byxorna
    div.span2.offset1
      h3 YouTube
      div.logo.youtube
      a(href="https://youtube.com/byxornism") Byxornism's Channel
  div.row
    div.span2.offset2
      h3 Resume
      div.logo.resume
      a(href="/resume") View my resume
    div.span2.offset1
      h3 FIXME
      a(href="https://twitter.com/byxorna") @byxorna
    div.span2.offset1
      h3 FIXME
      a(href="https://youtube.com/byxornism") Byxornism's Channel
    
