extends layout

block content
  div.container
    div
      div.col-md-12
        section#header
          div
            h1(style='margin-bottom:30px;') I'm Gabe
          p.lead I do computer-y things with Linux, distributed systems, web-scale infrastructure, and more. Currently preparing for the Singularity. In the mean time, look at my 
            a(href="/resume") resume
            | , or find more contact information below.

        include contact

block append head
  style
    .spaced {
      margin-left:20px;
    }
