extends layout

block content
  div.container
    div.row
      div.span12
        section#header
          div.page-header
            h1 I am Gabe Conradi
          p.lead I studied Germanic Languages and Computer Science at Washington University in St. Louis, MO. I build and race Subarus, listen to weird music, speak German and some Swedish, complain about technology, geek out about languages and Linux, and love belgian style ales and unfiltered wheat beers. I am currently a Unix Systems Engineer at 
            a(href="http://www.factset.com") FactSet
            | . Here is the rundown on me and my interests.
          div.row
            div.span
              h2
                a(href='#tech-projects') Tech
            div.span
              h2
                a(href='#car-projects') Cars
            div.span
              h2
                a(href='#music') Music
            div.span
              h2
                a(href='#this-site') This site
            div.span
              h2
                a(href='#contact') Contact
          
        section#tech-projects
          div.page-header
            h1 Technology
              small  Buzz words go here
          p I have been using Linux and other Unixes since I was in middleschool, and programming since the beginning of high school. I prefer to stay towards scripting languages, but I can write in anything from C to Bash to Scala. I like to write scripts to do things for me, and stay up to date on new programming paradigms and tools that are changing the industry.
          p If you are interested in the nitty-gritty of my professional life, 
            a(href='/resume') see my resume!

        section#car-projects
          div.page-header
            h1.pagination-right
              small Subaru powered
              |  Car Projects
          p.pagination-right I am a huge Subaru fan, and many of my DIY projects are centered around cars. I am on 
            a(href='http://www.iwsti.com/forums/members/66931.html') IWSTI
            |, 
            a(href='http://forums.nasioc.com/forums/member.php?u=231967') Nasioc
            |, and a handful of regional northeastern Subaru forums. I AutoX with FCSCC, and am planning on tracking my wagon at Lime Rock and hitting the strip a few times once the build is complete.

          div.buffer
          div.row
            div.span6
              h2 2004 Subaru GDA WRX 
              h4.muted Daily Driver
              p Tuned by Chris @ EFI Logics (RIP), to 297whp/254wtq at 20.5 psi. Heres a link to my 
                a(href='http://www.efilogics.com/dyno/index.php?gb=0&hp=1&torque=1&boost=1&rpm=1&sl=1&sln=1&sat=0&cb=0&dgr=1&smm=0&sg=1&runid1=1600&rgb1=000000255') EFI Dyno Chart
                |  There are 
                i way
                |  more mods on this car than listed, but this is the gist of it. 
              h5 Parts list
              ul
                li Stock internals EJ205
                li 750cc DeatschWerks topfeed injectors
                li Walbro 255lph pump
                li Blousch TD05H 16G-XT turbo, internally gated
                li Xccelleration TMIC
                li SPT short ram intake
                li Invidia catless downpipe, full 3" exhaust
                li Grimmspeed EBCS
                li Sway bars, endlinks, mounts
                li 215/55/16 Star Specs
                li 04 STi struts, EPIC springs
                li Grimmspeed phenolic spacers
                li Custom boost actuated intercooler sprayer
                li Custom ABS kill switch
              a(href='http://www.efilogics.com/dyno/index.php?gb=0&hp=1&torque=1&boost=1&rpm=1&sl=1&sln=1&sat=0&cb=0&dgr=1&smm=0&sg=1&runid1=1600&rgb1=000000255')
                img(src='/images/dyno_2004_wrx_16g.png')
            div.span6
              h2 2005 Subaru GGA WRX
              h4.muted Track Beast
              p I bought this rolling chassis in September of 2011 to keep my hands busy. I began accumulating parts slowly, with the eventual goal of making a badass track car. The project is still in progress, but hopefully it will be running in the spring of 2013. Shooting for 400-450 whp on 93 octane, hoping to get 30-40psi out of the turbo (pistons can take up to 50!).
              h5 Parts list
              ul
                li R180, STi 6sp, Brembos and 5x114.3 hub conversion from an 05
                li Aluminum lateral links and LCAs from an 06
                li STi steering rack and crossmember from an 06
                li Full Race twin scroll header with dual 38mm external wastegates
                li Garrett GTX3076R 1.06a/r twinscroll turbo
                li BC BR coilovers
                li 24mm front+rear Whiteline sways and rear mount, Kartboy solid endlinks
                li Every bushing that TiC and Kartboy makes for the STi
                li RE070 225/45/17 right now (R comps soon)
                li JDM v9 long runner intake manifold
                li JDM v9 ECU
                li Fuel system
                  ul
                    li 1100cc topfeed Fuel Injector Clinic injectors
                    li 340lph Aeromotive fuel pump
                    li Aeromotive FPR
                    li Jegs fuel lines, distribution block, and AN fittings
                li ACT 6 puck XT clutch with flywheel
                li Koyo aluminum radiator
                li Fuel rails from Outfront Motorsports with custom fuel rail spacers
                li Engine
                  ul
                    li 07 EJ257 case, o-ringed Darton sleeves
                    li 07 STi crankshaft
                    li Ross custom pistons, forged for 50psi
                    li Oliver rods
                    li ARP rod, case, and main bolts
                    li ARP 14mm custom helicoiled headstuds
                    li ACL coated race bearings
                    li JDM v7 2.0l heads, intake ports matched to manifold (338cfm intake, 241cfm exhaust)
                    li Ferrea +1mm valves, TI locks, seats, retainers, springs
                    li Custom Kelford 282/280 cams (no AVCS currently)
                    li ATI Superdamper
                    li Cometic headgaskets
                    li 07 oil pump
                    li Greddy timing belt
                    li Hyperflow twinscroll oil pan
                li Perrin front mount intercooler
                li Synapse Syncronic BPV
                li KSTech 73mm cold air intake

        section#music
          div.page-header
            h1 Music
              small  Uhnn tiss uhnn tiss
          //p.lead.muted Uhnn tiss uhnn tiss
          p I like to think I have a very unique taste in music. I started developing my library in middle school, when I was introduced to Goa and Israeli Trance. From there, (with the help of soulseek) I began to explore into more traditional dance, techno, and ambient. Now I consider my mainstays to be the likes of Orbital, Death in Vegas, Boards of Canada, FSOL, The Herbaliser, Vadim, Chemical Brothers, Meat Beat Manifesto, Amon Tobin, Basement Jaxxx, A Tribe Called Quest, Astral Projection, Astrix, Simian Mobile Disco, Fischerspooner, AK1200, Dieselboy, and a ton
            |  more. Golden age hip hop, electro, ambient, 80s experimental, big beat, DnB and breaks, I love it all. You can find me on 
            a(href='http://www.last.fm/user/gummybearx') Last.fm
            | . It is really rare to meet people with a similar taste in music, so if you know (and like!) some of these artists, get at me!


        section#this-site
          div.page-header
            h1.pagination-right
              small Built with Open Source
              |  This Site
          p.lead.pagination-right.muted.
          p I support open source software, and you should too. This site was created partly to keep up with hip new technologies, and partly because I really, really needed to get myself some web presence. The site is written in 
            a(href="http://nodejs.org/") Node 
            | with 
            a(href="http://expressjs.com/") Express
            |, 
            a(href="http://jade-lang.com/") Jade
            |, 
            a(href="http://twitter.github.com/bootstrap") Bootstrap
            |, 
            a(href="http://backbonejs.org/") Backbone
            |, 
            a(href="http://underscorejs.org/") Underscore
            |, and 
            a(href="http://jquery.com/") jQuery
            |. This is a playground for me, so the list may change over time. This site is open source as well, check it out 
            a(href="https://github.com/byxorna/site") on GitHub 
            | and send me a pull request.

        hr.buffer
        section#contact
          div.pagination-centered
            p
              a(href="https://facebook.com/gabe.conradi")
                img.img-circle.media-object.logo(src='/images/icons/facebook/facebook-64.png',rel="tooltip",title="Facebook")
              a(href="https://twitter.com/byxorna")
                img.img-circle.media-object.logo(src='/images/icons/twitter/twitter-64.png',rel="tooltip",title="Twitter")
              a(href="https://plus.google.com/109783898219372090528")
                img.img-circle.media-object.logo(src='/images/icons/googleplus/googleplus-64.png',rel="tooltip",title="Google+")
              a(href="https://github.com/byxorna")
                img.img-circle.media-object.logo(src='/images/icons/github/github-64.png',rel="tooltip",title="Github")
              a(href="https://youtube.com/byxornism")
                img.img-circle.media-object.logo(src='/images/icons/youtube/youtube-64.png',rel="tooltip",title="YouTube")
              a(href='http://www.last.fm/user/gummybearx')
                img.img-circle.media-object.logo(src='/images/icons/lastfm/lastfm-64.png',rel="tooltip",title="Last.fm")
              a(href="/resume")
                img.img-circle.media-object.logo(src='/images/icons/aboutme/aboutme-64.png',rel="tooltip",title="Resume")

          //.container
          //  .row
          //    div
          //      .span.center
          //        a(href="https://facebook.com/gabe.conradi")
          //          img.pull-left.img-circle.media-object.logo(src='/images/icons/facebook/facebook-64.png',rel="tooltip",title="Facebook")
          //      .span.center
          //        a(href="https://twitter.com/byxorna")
          //          img.pull-left.img-circle.media-object.logo(src='/images/icons/twitter/twitter-64.png',rel="tooltip",title="Twitter")
          //      .span.center
          //        a(href="https://plus.google.com/109783898219372090528")
          //          img.pull-left.img-circle.media-object.logo(src='/images/icons/googleplus/googleplus-64.png',rel="tooltip",title="Google+")
          //      .span.center
          //        a(href="https://github.com/byxorna")
          //          img.pull-left.img-circle.media-object.logo(src='/images/icons/github/github-64.png',rel="tooltip",title="Github")
          //      .span.center
          //        a(href="https://youtube.com/byxornism")
          //          img.pull-left.img-circle.media-object.logo(src='/images/icons/youtube/youtube-64.png',rel="tooltip",title="YouTube")
          //      .span.center
          //        a(href='http://www.last.fm/user/gummybearx')
          //          img.pull-left.img-circle.media-object.logo(src='/images/icons/lastfm/lastfm-64.png',rel="tooltip",title="Last.fm")
          //      .span.center
          //        a(href="/resume")
          //          img.pull-left.img-circle.media-object.logo(src='/images/icons/aboutme/aboutme-64.png',rel="tooltip",title="Resume")


