extends layout

block content
  .container
    section
      .page-header
        h1 Blog
          small.pull-right.vertical-center#post-count
            
        div#posts
    div
      h1.pagination-centered
        small
          a#more-posts(href="#") Load more


block append head
  script
    $(function(){
      var Post = Backbone.Model.extend({});
      var Posts = Backbone.Collection.extend({
        from: #{from},
        to: #{to},
        fetch_size: #{fetch_size},
        model: Post,
        url: function(){
          return '/blog/posts/' + this.from + '-' + this.to;
        }
      });
      var PostView = Backbone.View.extend({
        // an individual post view
        template: _.template($('#post-template').html()),
        render: function(){
          this.$el.html(this.template(this.model.attributes));
          return this;
        }
      });
      var PostsView = Backbone.View.extend({
        // the view of all posts
        el: $('#posts'),
        post_count: $('#post-count'),
        initialize: function(){
          this.listenTo(posts,'add',this.addPost);
        },
        render: function(){
          this.$el.html('');
          posts.each(function(post){
            this.addPost(post);
          },this);
          return this;
        },
        addPost: function(post){
          // append the post to our view
          var view = new PostView({model: post});
          this.$el.append(view.render().el);
          this.post_count.text("Latest " + posts.length + " posts");
        }
      });

      var posts = new Posts(!{JSON.stringify(posts)});  //bootstrap in our collection

      var blog = new PostsView();
      blog.render();

      console.log("setting to:" + posts.to + " and from:" + posts.from);
      $('#more-posts').on('click',function(){
        //get more posts
        var collection_size = posts.length;
        var old_from = posts.from;
        var old_to = posts.to;
        posts.from = posts.to;
        posts.to = posts.from + posts.fetch_size;
        console.log("setting to:" + posts.to + " and from:" + posts.from);
        posts.fetch({
          update:true,
          remove:false,
          success:function(){
            if (collection_size == posts.length){
              $('#more-posts').replaceWith('<span>No older posts found</span>');
              blog.post_count.text("All " + posts.length + " posts");
            }
          },
          error:function(){
            //TODO show an error
          }
        });
        return false;
      });
    });
  script(type='text/template')#post-template
    div.row
      div.span12
        a(href!="<%= url %>")
          h1 <%= title %>

        a.date.muted(data-alt-date!="<%= new Date(date).toString() %>", title!="<%= new Date(date).toString() %>") <%= moment(date).fromNow() %>
        div.snippet <%= preview %>

