section#contact
  div.pagination-centered
    hr.buffer
    p.muted.lead
      a.muted(href="http://tumblr.pipefail.com") Tumblr
      |  • 
      a.muted(href="https://github.com/byxorna") GitHub
      |  • 
      a.muted(href="https://twitter.com/byxorna") Twitter
      |  • 
      a.muted(href="/resume") Resume
      |  • 
      a.muted(href="/consulting") Consulting
