extends layout

block content
  .container
    section
      .pagination-centered
        h1#lead-text Hi, I'm Gabe
        h2.muted
          a.muted(href="/about") Check me out
        hr.buffer
        p.muted.lead
          a.muted(href="http://tumblr.pipefail.com") Tumblr
          |  • 
          a.muted(href="/blog") Blog
          |  • 
          a.muted(href="https://github.com/byxorna") GitHub
          |  • 
          a.muted(href="https://twitter.com/byxorna") Twitter
          |  • 
          a.muted(href="/resume") Resume

block append head
  style
    #lead-text {
      line-height:80px;
      font-size:80px;
    }
