extends layout

block content
  .container
    section
      .page-header.pagination-centered
        h1#lead-text Hi, I'm Gabe
        h2.muted
          a(href="/about") Check me out
        .buffer
        p.muted.lead
          a(href="/blog") Blog
          |  • 
          a(href="https://facebook.com/gabe.conradi") Facebook
          |  • 
          a(href="https://twitter.com/byxorna") Twitter
          |  • 
          a(href="https://plus.google.com/109783898219372090528") Google+
          |  • 
          a(href="https://github.com/byxorna") GitHub
          |  • 
          a(href="https://youtube.com/byxornism") YouTube
          |  • 
          a(href="/resume") Resume

block append head
  style
    #lead-text {
      line-height:80px;
      font-size:80px;
    }
