extends layout

block content
  div.hero-unit
    div.page-header
      h1 Gabe Conradi
        small(style='margin-left:15px;') Linux. Cars. Music. Tech.
      p.lead
        i Ag-gran-dize
        |: verb, transitive. To write stuff in your tagline that makes you seem smarter than your average jabroni.
      a.btn.btn-large.btn-primary(href='/about/me') Check me out
