doctype 5
html
  head
    block head
      title= title
      meta(name='viewport',content='width=device-width, initial-scale=1.0')
      link(href='http://fonts.googleapis.com/css?family=Open+Sans|Droid+Sans+Mono', rel='stylesheet', type='text/css')
      //link(href='http://fonts.googleapis.com/css?family=Open+Sans|Ubuntu+Mono|Ubuntu|Droid+Sans|Droid+Sans+Mono', rel='stylesheet', type='text/css')
      link(rel='stylesheet', href='/stylesheets/bootstrap.css')
      link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.css')
      link(rel='stylesheet', href='/stylesheets/style.css')
      script(src='/javascripts/jquery-1.8.3.min.js')
      script(src='/javascripts/bootstrap.min.js')
      script(src='/javascripts/underscore-min.js')
      script(src='/javascripts/backbone-min.js')
      script(src='/javascripts/moment.js')
      script(src='/javascripts/application.js')

  body
    header.navbar.navbar-fixed-top.navbar-inverse
      div.navbar-inner
        div.container
          //a.btn.btn-navbar(data-toggle='collapse',data-target='.nav-collapse')
          div.btn.btn-navbar(data-toggle='collapse',data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='/') pipefail.com
          div.nav-collapse.collapse
            //ul.nav.pull-right
            ul.nav.pull-right
              //li.dropdown
              //  a.dropdown-toggle(href='#',data-toggle='dropdown') Dropdown
              //    b.caret
              //  ul.dropdown-menu
              li
                a(href='/blog') Blog
              li
                a(href='/resume') Resume
              li
                a(href='/about') About
    #navbar-buffer.visible-desktop(style='height:41px;')

    div.content-area
      block content

    footer
      block footer
        div.container
          div.row
            div.span2.offset5
              p.muted.pagination-centered.
                © Gabe Conradi 2013

