extends layout

block content
  .container
    #resume
      p.muted.pagination-right.pull-right
        a(href="/resume") HTML
        |   •  
        a(href="/resume.pdf") PDF
        |   •  
        a(href="https://github.com/byxorna/resume/blob/master/resume.md") GIT
      !{resume}
