body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.logo {
  height:40px;
  width:40px;
}
.buffer {
  margin:70px;
}
.marketing {
  text-align:center;
}

