body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #f5f5f5; /* same color as footer background. enable infinite footer looks */
}
code,pre {
  font-family: "Droid Sans Mono", Monaco, Menlo, Consolas, "Courier New", monospace;
}

a {
  color:#666;
  text-decoration:none !important;
}
a:hover {
  color:#888;
}

a.date {
  cursor:pointer;
}

.site-foreground {
  background: #ffffff;
}

.logo {
  background-color:#333;
  height:64px;
  width:64px;
  border: 1px solid #111;
  border-color: rgba(17,17,17,0.7);
  margin-left:20px;
  display:inline;
  transition: background-color 0.5s ease-out;
  -webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
}

.logo:hover {
  background-color:#5e5e5e;
}

.buffer {
  margin:40px;
  clear:both;
  min-height:1px;
}
.marketing {
  text-align:center;
}
footer {
  padding:30px;
  margin:40px -50px -50px -50px;
  min-height:100px;
  border-top: 1px solid #d4d4d4;
  background:#f5f5f5;
}
.navbar {
  opacity:.95;
}
.navbar-inner {
  background-image:none !important;
}

section {
  padding-top:45px;
}

h1 small.vertical-center {
  line-height:40px; /* see h1 height */
}

.inline {
  display: inline;
}

.content-area {
  padding-bottom: 9px;
  margin: 20px 0 30px;
}

.uppercase {
  text-transform: uppercase;
}
