{{ template "header" . }}
<div class="container">
  <div>
    <div class="col-md-12">
      <section id="header">
        <div>
          <h1 style="margin-bottom:30px">About</h1>
        </div>
        <p class="lead">My name is Gabe, and I enjoy building socially useful tech using Linux, distributed systems,
          high-scale infrastructure, and mesh networks. I keep a low profile online, but you can find me online at <a
            href="/contact">/contact</a>.
        </p>
      </section>
    </div>
  </div>
</div>
<style>
  .spaced {
    margin-left: 20px;
  }
</style>
{{ template "footer" . }}
