{{ template "header" . }}

<div class="container">
  <div>
    <div class="col-md-12">
      <section id="header">
        <div>
          <h1 style="margin-bottom:30px">Consulting Services</h1>
        </div>
        <p class="lead">I like working on distributed systems and building performant, automated, and safe
          infrastructure. I am not currently taking on new clients, but feel free to <a
            href="mailto:gabe.conradi+consulting@gmail.com?Subject=Consulting%20Request">email me</a> if you are
          interested in my services, or take a gander at my <a href="/resume">CV</a>.</p>
      </section>
    </div>
  </div>
</div>

{{ template "footer" . }}
