extends layout

block content
  div.container
    div
      div.col-md-12
        section#header
          div
            h1(style='margin-bottom:30px;') Consulting Services
          p.lead I offer consulting services to organizations that want to build high scale, resilient, automated, performant, future-proof, and safe infrastructure. I provide expertise needed to build high scale systems. Please 
            a(href="mailto:gabe.conradi+consulting@gmail.com?Subject=Consulting%20Request") contact me
            |  if you are interested in my services.
