{{ define "contact" }}
<section id="contact">
  <div class="pagination-centered">
    <hr class="buffer" />
    <p class="muted lead">
      <a class="muted" href="http://tumblr.pipefail.com">Tumblr</a> - <a class="muted"
        href="https://github.com/byxorna">GitHub</a> - <a class="muted" href="https://twitter.com/byxorna">Twitter</a>
      - <a class="muted" href="https://keybase.io/gabeconradi">Keybase</a> - <a class="muted" href="/resume">Resume</a>
      - <a class="muted" href="/consulting">Consulting</a>
    </p>
  </div>
</section>
{{ end }}
