{{define "footer"}}
</div>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-2 col-md-offset-5">
        <p class="muted pagination-centered">Copyright Gabe Conradi {{ .Year }} (<a target="_blank" class="external"
            href="https://github.com/byxorna/site/blob/master/LICENSE.txt">APL2.0</a>)</p>
        <p class="muted pagination-centered">
          <a target="_blank" class="external" href="https://github.com/byxorna/site/commit/{{.Commit}}">{{.Version}}</a>
        </p>
      </div>
    </div>
  </div>
</footer>
</div>
</body>

</html>
{{end}}
