{{ template "header" . }}
<div class="container">
  <section id="lead">
    <div class="pagination-centered">
      <h1 id="lead-text">Gabe Conradi</h1>
      <h2 class="muted"><a class="muted" href="/about">/about</a></h2>
      <h2 class="muted"><a class="muted" href="/resume">/resume</a></h2>
      <h2 class="muted"><a class="muted" href="/consulting">/consulting</a></h2>
      <h2 class="muted"><a class="muted" href="/contact">/contact</a></h2>
    </div>
  </section>
</div>
<style>
  #lead-text {
    line-height: 80px;
    font-size: 80px;
  }
</style>
{{ template "footer" . }}
