doctype 5
html
  head
    block head
      title= title
      meta(name='viewport',content='width=device-width, initial-scale=1.0')
      link(href='http://fonts.googleapis.com/css?family=Open+Sans|Droid+Sans+Mono|Michroma', rel='stylesheet', type='text/css')
      //link(href='http://fonts.googleapis.com/css?family=Open+Sans|Ubuntu+Mono|Ubuntu|Droid+Sans|Droid+Sans+Mono', rel='stylesheet', type='text/css')
      link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
      link(rel='stylesheet', href='/stylesheets/style.css')
      script(src='/javascripts/jquery-3.6.0.min.js')
      script(src='/javascripts/bootstrap.min.js')
      script(src='/javascripts/underscore-min.js')
      script(src='/javascripts/backbone-min.js')
      script(src='/javascripts/moment.js')
      script(src='/javascripts/application.js')

  body
    .site-foreground
      nav.navbar.navbar-default(role='navigation')
        .container
          .navbar-header
            // mobile header
            button.navbar-toggle(data-toggle='collapse',data-target='.navbar-collapse')
              span.sr-only
                Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.uppercase.navbar-brand(href='/') pipefail
          .navbar-collapse.collapse
            // navbar content
            ul.nav.navbar-nav.navbar-right
              li
                a(href='http://tumblr.pipefail.com') Blog
              li
                a(href='/resume') Resume
              li
                a(href='/consulting') Consulting
              li
                a(href='/about') About
              li.dropdown
                a.dropdown-toggle(data-toggle="dropdown",href='#')
                  |Contact
                  b.caret
                ul.dropdown-menu
                  li
                    a.muted(href="http://tumblr.pipefail.com") Tumblr
                  li
                    a.muted(href="https://github.com/byxorna") GitHub
                  li
                    a.muted(href="https://twitter.com/byxorna") Twitter
                  li
                    a.muted(href="https://keybase.io/gabeconradi") Keybase
                  li
                    a.muted(href='/blog') Internal Blog

      div.content-area
        block content

      footer
        block footer
          div.container
            div.row
              div.col-md-2.col-md-offset-5
                p.muted.pagination-centered.
                  🄯 Gabe Conradi 2021

